@import "tailwindcss";

@layer 
base
 {
  *, *::before, *::after {
    
box-sizing
: border-box;
  }

  * {
    
margin
: 0;
    
padding
: 0;
    
box-sizing
: border-box;
  }
}

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Variable.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Frunchy';
  src: url('/fonts/Frunchy.ttf') format('truetype');
}

@theme{
    --color-main: #ffffff;
    --text-secondary: #C3C3C3;
    --font-satoshi: Satoshi;

}




body{
    background-color: #101010;
    color: white;
    font-family: Frunchy;
}



@keyframes circularMotion {
  0%   { transform: translateX(0vw) translateY(-12dvh); }
  25%  { transform: translateX(12vw) translateY(0); }
  50%  { transform: translateX(0vw) translateY(12dvh); }
  75%  { transform: translateX(-12vw) translateY(0); }
  100% { transform: translateX(0vw) translateY(-12dvh); }
}


@media (max-width: 1023px) {
  .auto-motion {
    animation: circularMotion 12s linear infinite;
  }
}




@keyframes loopScroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 6vw));
  }
}
.slider {
animation: loopScroll 12s linear infinite;
}

.gradient1{
  background: linear-gradient(to right, #101010 20%, #10101000);
}
.gradient2{
  background: linear-gradient(to left, #101010 20%, #10101000);
}












